NODE_ENV=development

APP_NAME=Legends Wallet
BASE_URL=http://localhost:1235
IS_TRON_ONLY=1
NO_TON=1
NO_TRON=0
NO_SOLANA=1
NO_EVM=1
NO_WALLETCONNECT=1
NO_SWAP=1
NO_STAKING=1
NO_PORTFOLIO=1
NO_MFA=1
NO_LEDGER=1
NO_ACCOUNT_CONFIG=1
NO_REFERRER=1

TONCENTER_MAINNET_URL=https://toncenter.mytonwallet.org
TONCENTER_MAINNET_KEY=
TONCENTER_TESTNET_URL=https://toncenter-testnet.mytonwallet.org
TONCENTER_TESTNET_KEY=
TONAPIIO_MAINNET_URL=https://tonapiio.mytonwallet.org
TONAPIIO_TESTNET_URL=https://tonapiio-testnet.mytonwallet.org
PROXY_HOSTS="tonproxy.io:38080 tonproxy.io:38081 tonproxy.io:38082"
AGENT_API_URL=http://localhost:3000/api
BRILLIANT_API_BASE_URL=https://wallet-api.legends.energy
TRON_MAINNET_API_URL=https://node.legends.energy
TRON_TESTNET_API_URL=https://wallet-api.legends.energy/testnet
TRON_MAINNET_HISTORY_API_URL=https://api.trongrid.io
TRON_MAINNET_HISTORY_API_KEY=
TRON_TESTNET_HISTORY_API_URL=https://nile.trongrid.io
TRON_TESTNET_HISTORY_API_KEY=
DEFAULT_NETWORK=mainnet
NO_PRICE_CHART=1
TEST_MNEMONIC=
TEST_PASSWORD=
STAKING_POOLS=
CSP_CONNECT_SRC_EXTRA_URL=

SOLANA_MAINNET_API_URL="https://mainnet.helius-rpc.com"
SOLANA_MAINNET_API_KEY=
SOLANA_TESTNET_API_URL="https://devnet.helius-rpc.com"
SOLANA_TESTNET_API_KEY=
WALLET_CONNECT_PROJECT_ID=
