NODE_ENV=development

APP_NAME=Legends Wallet
BASE_URL=https://wallet.energy.yo
DEFAULT_NETWORK=testnet
BRILLIANT_API_BASE_URL=https://wallet-api.energy.yo
TRON_MAINNET_API_URL=https://node.energy.yo
TRON_TESTNET_API_URL=https://wallet-api.energy.yo/testnet
TRON_MAINNET_HISTORY_API_URL=https://node.energy.yo
TRON_MAINNET_HISTORY_API_KEY=
TRON_TESTNET_HISTORY_API_URL=https://node.energy.yo
TRON_TESTNET_HISTORY_API_KEY=
DEV_SERVER_WEBSOCKET_URL=wss://wallet.energy.yo/ws
