.buttons {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.counterparty {
  margin-bottom: 1.25rem;
}

.error {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius-buttons);

  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  color: var(--color-transaction-amount-red-text);
  text-align: center;

  background-color: var(--color-transaction-amount-red-bg);
}
