.root {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 1.25rem;
  padding: 0.875rem 0.75rem;
  border-radius: var(--border-radius-default);

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: var(--color-black);

  background: var(--color-background-first);
}

.feeRow {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;

  min-width: 0;
}

.feeLabel {
  min-width: 0;

  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 0.875rem;
  color: var(--color-gray-2);
}

.feeAmount {
  flex-shrink: 0;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: var(--color-gray-3);
}
